@import "components.scss";

/*--------------------------------------------------------------
# COMMON CSS START
--------------------------------------------------------------*/
.font-heading {
  @extend %font-heading;
}

.font-paragraph {
  @extend %font-body;
}

.font-special {
  @extend %font-special;
}

// CREATE className OF COLOR AND BACKGROUND

body,
button,
.btn {
  @include media-breakpoint-up(xxxl) {
    font-size: $font-size-base * 1.1;
  }
  @include media-breakpoint-up(xl) {
    font-size: $font-size-base * 0.9;
  }
  @include media-breakpoint-up(md) {
    font-size: $font-size-base * 0.9;
  }
  font-size: $font-size-base * 0.8;
  @extend %font-body;
  font-weight: 600;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6 {
  line-height: 1.5;
  @extend %font-heading;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: inherit;
  @include hover {
    color: inherit;
  }
}

.bg-none {
  @extend %bg-none;
}

// REMOVE FOCUS FROM SELECT AND BTN
.form-select,
.form-control,
label,
.btn {
  &:focus,
  .form-check:focus {
    outline: 0;
    box-shadow: 0 0 0 0 rgba(13, 110, 253, 0) !important;
  }
  @include media-breakpoint-up(xxxl) {
    font-size: $font-size-base * 1.1;
  }
  @include media-breakpoint-up(lg) {
    font-size: $font-size-base * 1.1;
  }
  @include media-breakpoint-up(md) {
    font-size: $font-size-base * 1;
  }
  font-size: $font-size-base * 0.9;
}

.shadow-sm {
  @include box-shadow(0, 0, 8px, rgba($black, 0.08) !important);
  &:focus {
    @include box-shadow(0, 0, 8px, rgba($black, 0.08) !important);
  }
}

.form-control,
.form-select {
  min-height: 48px;
  background-color: $light;
  border-color: $light;
}

// CREATE BTNS
.btn {
  // @include media-breakpoint-up(lg){
  @include padding(rfs-value(0.6rem) rfs-value(2rem));
  // font-size: rfs-value(1rem);
  // }
  &-white {
    background-color: $white;
    border-color: $white;
  }
  &-primary {
    color: $white;
  }
  &-dark {
    &.btn-hover-primary {
      @include hover {
        border-color: $primary;
        background: $primary;
        color: $white;
      }
    }
  }
  &-link {
    font-family: "Josefin Sans", sans-serif !important;
  }
}

section,
.section {
  position: relative;
  .bg-img-holder {
    @include position(absolute, 0 0 0 0);
    .overlay {
      @include position(absolute, 0 0 0 0);
      &.bg-dark {
        background-color: rgba($color: $dark, $alpha: 0.6) !important;
      }
      &.opacity-1 {
        opacity: 1;
      }
    }
  }
  @include padding(1.5rem 0);
  @include media-breakpoint-up(md) {
    @include padding(2.5rem 0);
  }
  .section-heading {
    .sub-heading {
      font-weight: normal;
      font-style: italic;
    }
    .main-heading {
      line-height: 1.2;
      margin-bottom: 0;
      @include media-breakpoint-up(md) {
        font-size: rfs-value(42px);
      }
    }
  }
  .special-effect {
    border-bottom: dotted 3px $dark;
    max-width: 100px;
    // position: relative;
    // &::after{
    //   content: '\25CF\25CF\25CF\25CF\25CF\25CF\25CF\25CF\25CF';
    //   color: #333;
    //   font-size: 6px;
    //   letter-spacing: 4px;
    //   @include position(absolute, 0 null null null);
    // }
  }
  &.section,
  .container,
  .container-fluid {
    position: relative;
    .btn-right {
      @include position(absolute, 0 0 null null);
    }
    @include media-breakpoint-up(lg) {
      .btn-lg-right {
        @include position(absolute, 0 0 null null);
      }
    }
    @include media-breakpoint-up(md) {
      .btn-md-right {
        @include position(absolute, 0 0 null null);
      }
    }
    @include media-breakpoint-up(sm) {
      .btn-sm-right {
        @include position(absolute, 0 0 null null);
      }
    }
  }
}

@include checkbox();
@include radio();
@include accordion();
@include breadcrumb();
@include slick-arrow();

@import "./header.scss";
@import "./footer.scss";
@import "./sidebar.scss";
@import "./modal.scss";

// -----------------------------------------------------------
// COMMON CLASSES IN THEME
// -----------------------------------------------------------
.object-fit-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.object-fit-contain {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.object-fit-fill {
  width: 100%;
  height: 100%;
  object-fit: fill;
  object-position: center;
}

.responsive-images {
  .img-holder {
    width: 100% !important;
    height: 100% !important;
    max-width: 100% !important;
    max-height: 100% !important;
    img {
      width: auto !important;
      height: 100% !important;
      // min-width: 100%!important;
      min-height: 100% !important;
    }
  }
  &-center {
    .img-holder {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.scale-y-negative {
  @include transform(scaleY(-1));
}

// CREATE DATA LIST
dl {
  dt {
    .bi-circle-fill {
      color: $gray-300;
      &::before {
        @include transform(scale(0.5));
      }
    }
  }
}

// FORMS

// .custom-select {
//   background-image: url("../icons/icon-select-down.svg");
// }

//
.rating {
  .bi-star-fill,
  .bi-star-half {
    margin: 2px;
    color: $warning;
  }
}

// SLICK ELEMENTS

.slick-height-equal {
  .slick-track {
    display: flex;
    align-items: stretch;
    .slick-slide {
      height: auto;
      flex: 1;
    }
  }
}

.slick-arrow-before-none {
  .slick-arrow {
    &:before {
      display: none;
    }
  }
}

.slick-arrows-dark {
  @include media-breakpoint-up(md) {
    margin-left: -30px;
    margin-right: -30px;
  }
  .slick-arrow {
    background-color: $gray-600;
    border-color: $gray-600;
    @extend .h6;
    color: $white;
    @include size(25px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    z-index: 3;
    &:hover {
      background-color: $dark;
      border-color: $dark;
    }
  }
  .slick-prev {
    z-index: 10;
  }
}

.slick-dots {
  margin-top: 20px;
  li {
    list-style: none;
    button {
      @include size(6px);
      color: transparent;
      @include transition(all 0.5s);
      @include rounded(50%);
      background: rgba($color: $light-primary, $alpha: 0.5);
      border: 1px solid rgba($color: $light-primary, $alpha: 0.5);
    }
    &.slick-active {
      button {
        @include size(8px);
        @include rounded(50%);
        background: rgba($color: $primary, $alpha: 1);
        border: 1px solid rgba($color: $primary, $alpha: 1);
      }
    }
  }
}

// THEME NEED

// custom btn tabs
.custom-btn-tabs {
  .nav-tabs {
    border-bottom: none;
  }

  .tab {
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 0.5rem;
    @include transition(0.5s all)
  }
  .nav-link {
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 10px 30px;
    height:39px;
    @include transition(0.5s all);
    
  }

  .nav-link.active {
    background: $primary !important;
    color: white;
    border-radius: 7px;
    height: 48px;
    margin-top: -8px;
    @include transition(0.5s all);
  }
} 